#title
{
	margin:5px 0 0px 0px;
	position:relative;	
}
#comment
{
	padding:5px;
	margin:5px;
	position:relative;
}
.titlecontent
{
	font-size:16px;
	font-weight:900;
	padding: 10px 0 5px 10px;
	position: relative;	
}
h1
{
	font-weight:700;
	font-size:20px;
	line-height:120%;
}

h2
{
	font-size:13px;
    font-weight: normal;
	margin:5px 0;
	max-width:50%;
}

.entry {
padding:2px 8px;
}

.entry .single_content{
z-index:1;
overflow:hidden;
}

.entry p {
padding:2px 0;
text-indent:2em;
}

.entry strong {
font-weight:700
}

.entry h1 {
font-size:18px;
font-weight:700;
padding:0 0 7px
}

.entry h2 {
font-size:16px;
font-weight:700;
margin:0 0 5px 0!important;
padding:0!important;
}

.entry h3 {
	margin:20px 0 5px 0;
	font-size:14px;
    font-weight: 700;
	position:relative;
}

.entry h4 {
	font-size:12px;
	font-weight:700;
	padding:5px 0 5px 5px;
	position:relative;
}

.entry h5 {
font-size:10px;
font-weight:700;
padding:0 0 7px
}

.entry h6 {
font-size:10px;
font-weight:700;
padding:0 0 7px
}

.entry a {
color:#144F78
}

.entry a:hover {
text-decoration:underline
}

.entry img {

}

.entry a img {
border:none
}

.entry ul {
padding-bottom:10px;
list-style:square inside
}

.entry ol {
padding-bottom:10px;
list-style:decimal inside
}

.entry .single_content{
z-index:1;
overflow:hidden;
}

#entry_content
{
	position:relative;
}

.listtitle 
{
	line-height:220%;
	font-weight:700;
	font-size:14px;
}

.listall li
{
	position:relative;	
	margin: 0 0 3px 5px;
	padding: 0 0 3px 0;
	list-style-position:outside;
}

.listnum
{
	position:absolute;
	left:5px;
}

.listlink
{
	width:68%;
	margin:0 0 0 5px;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.listmeta
{
	position:absolute;
	right:0px;
	top:0px;
	color:#888;
}
.eh4
{
	font-weight:700;
	padding-left: 5px;
}

.celeimg_title
{
	font-size:14px;
	color:#fff;
	line-height:1.8;
	text-align:center;
	position:absolute;
	left:0px;
	bottom:0px;
	background:#333;
	-moz-opacity:.5;
	opacity:.5
}

.celeimg_name
{
	font-size:12px;
	text-align:center;
}
