#pageClass,.titleClass
{
	position:relative;
	/*margin:10px auto;*/
	width:100%;
}

#pageClass ul li
{
	position:relative;
	float:left;
	margin:0 2px;
	padding:0;
}

#pageClass ul
{
	padding:0 0 30px 0;
}

#pageClass ul
{
	z-index:1;
	overflow:hidden;
	border: none;
}

#pageClass ul li a span
{
	display:none;
	width:100%;
}

#pageClass ul li a:hover span
{
	display:block;
}
#pageClass ul li a:hover
{
	text-decoration: none;
}

.tprev
{
	position:absolute; 
	z-index:4;
	color:#f00;
	font-size:22px;
	background:#ccc;
	top:68px;
	left:12px;
	width:25px;
	height:60px;
	opacity: 0.7;		
	-moz-border-radius: 0 12px 12px 0;
	-webkit-border-radius: 0 12px 12px 0;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;	
}

.tnext
{
	position:absolute;
	z-index:3;
	color:#f00;
	font-size:22px;
	background:#ccc;
	top:68px;
	right:2px;
	width:25px;
	height:60px;
	opacity: 0.7;
	-moz-border-radius: 12px 0 0 12px;
	-webkit-border-radius:12px 0 0 12px;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;	
}
