#service_list {
    color: #ddd;
    padding-top: 1px;
    background: #576d74;
}
#service_list a,#service_list a:link,#service_list a:visited{
    color: #ddd;
    text-decoration: none;		
}
#service_list a:hover,#service_list a:active{
    color:#fff;
    text-decoration: none;		
}
#service_list_inner {
    margin: 0 auto; 
	position: relative;
    padding: 0 10px;
	height:40px;
} 

#service_list_inner ul{
	position:absolute;
	top:0px;
	left:200px;
}

#service_list_inner li {
	margin: 0;
	padding: 8px 10px;
	list-style: none;
	float: left;	
}
#service_list_inner ul {
	margin-left: -10px;
	
}

#global_nav {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    background: #fafafa; /*opacity:0.9;*/
}

#global_nav_inner {
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
	height:45px;
}

.topnav {
margin:0;
padding:2px 0 1px;
z-index:9999;
position: relative;
}

.topnav ul {
float:left;
list-style:none;
margin:0;
padding:0;
}

.topnav li {
float:left;
list-style:none;
text-transform:uppercase;
margin:0;
padding:0;
}

.topnav ul li {
list-style:none;
border-right:1px solid #898f8f;
margin:0 3px 0 0;
padding:0;
-moz-opacity:.95;
opacity:.95
}

.topnav li ul {
z-index:9999;
width:146px;
position:absolute;
margin:0;
padding:0
}

.topnav li li {
border:none
}

.topnav li a,.topnav li a:link,.topnav li a:visited{
display:block;
margin:0;
padding:6px 12px;
color:#111;
}

.topnav li a:hover,.topnav li a:active {
display:block;
text-decoration:none;
border-bottom:none;
margin:0;
background:#52686f;
color:#fff;
-moz-border-radius:0 0 0 10px;
border-radius:0 0 0 10px;
-webkit-transition: all .15s linear;
transition: all .15s linear
}

.topnav li li a,.topnav li li a:link,.topnav li li a:visited {
float:none;
width:120px;
border:1px solid #898f8f;
border-top:none;
margin:0;
padding:6px 12px;
background:#f7f3ed;
}

.topnav li li a:hover,.topnav li li a:active {
padding:6px 12px;
background:#52686f
}


.topnav li ul ul {
margin:-29px 0 0 144px;
}

.topnav li:hover ul ul,.topnav li ul,.topnav li:hover ul ul ul,.topnav li .sfhover ul ul,.topnav li .sfhover ul ul ul {
left:-999em;
}

.topnav li:hover ul,.topnav li li:hover ul,.topnav li li li:hover ul,.topnav li .sfhover ul,.topnav li li .sfhover ul,.topnav li li li .sfhover ul {
left:auto;
}

.topnav li:hover,.topnav li.sfhover {
position:static;
}

.topnav .left a {
margin:0;
padding:0 5px;
}

.menunav {
border-bottom:2px solid #252525;
margin:0 0 10px;
}

.menunav li {
font-weight:400;
}